<div class="bg-gray-100 text-center mt-5 p-5 shadow" >
    <h2 class="text-gray-600 font-black text-3xl" >Resumen</h2>
    <!-- Marca -->
    <p class="my-2" >
        <span class="font-bold" >Marca: </span>{{opciones.marca}}
    </p>
    <!-- Plan -->
    <p class="my-2" >
        <span class="font-bold" >Plan: </span>{{opciones.plan}}
    </p>
    <!-- Año -->
    <p class="my-2" >
        <span class="font-bold" >Año del Auto: </span>{{opciones.year}}
    </p>
    <!-- Cotización -->
    <p class="my-2 text-2xl " >
        <span class="font-bold" >Total cotización: </span>{{resultado.resultado}}
    </p>
</div>